<link rel="stylesheet" href="registration.component.css">
 <h1> Dadhboard Page </h1><br>
<form>
    <div class="container">
        <label>Account Number : </label> 
        <input type="text" placeholder="Enter Account number"  name="Accno" required>
        <label>Username : </label> 
        <input type="text" placeholder="Enter Username"  name="username" required>
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password"  name="password" required>
        <button type="submit" onclick="register()" >Register</button> 
        <input type="checkbox" checked="checked"> Remember me 
        <button type="button" onclick="" class="cancelbtn"> Cancel</button> 
        Forgot <a href="#"> password? </a>&nbsp;&nbsp;&nbsp;
        
    </div> 
</form> 
