<link rel="stylesheet" href="dashboard.component.css">
 <h1> Registration Form </h1><br>
<form>
    <div class="container">
        <label>Account Number : </label> 
        <input type="text" placeholder="Enter Account number"  name="Accno" required>
       
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password"  name="password" required>
        <label>Enter Amount : </label> 
        <input type="text" placeholder="Enter Amount"  name="Amt" required>
        <button type="submit" >Deposit</button> &nbsp;&nbsp; <button type="submit" >Withdraw</button> <br>
        <input type="checkbox" checked="checked"> Remember me 
        <button type="button" onclick="register()" class="cancelbtn"> Cancel</button> 
        
        
    </div> 
</form> 
